{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Feed Manager - Home
{% endblock %}

{% block content %}
<div class="card-body col-4">
    <div class="container">
        <form class="form-group" enctype="multipart/form-data" method="POST">
            <legend class="border-bottom mb-4"></legend>
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary btn-sm btn-block mb-2" type="submit">Read Feeds Asynchronously</button>
        </form>
    </div>
</div>
{% endblock %}